<div class="container content header">
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <span class="user_action"><a href="/" class="btn-link white"><span class="glyphicon glyphicon-home"></span> My page</a></span>
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-user"></span> Friends</a></span>
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-envelope"></span> Messages</a></span>
            </td>
            <td style="text-align:right; width:50%">
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-cog"></span> Settings</a></span>
                <span class="user_action"><a href="/Account/LogOff" class="btn-link white"><span class="glyphicon glyphicon-log-out"></span> Logout</a></span>
            </td>
        </tr>
    </table>
</div>
