<div class="container content header">
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <span class="user_action"><a href="/" class="btn-link white"><span class="glyphicon glyphicon-home"></span> Моя страница</a></span>
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-user"></span> Друзья</a></span>
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-envelope"></span> Сообщения</a></span>
            </td>
            <td style="text-align:right; width:50%">
                <span class="user_action"><a class="btn-link white"><span class="glyphicon glyphicon-cog"></span> Настройки</a></span>
                <span class="user_action"><a href="/Account/LogOff" class="btn-link white"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></span>
            </td>
        </tr>
    </table>
</div>
