@{
    ViewBag.Title = "Frontend Task 1";
}

<div class="jumbotron text-center">
    <form name="form1" id="form1">
        <div class="row">
            <div class="col-md-1">
                <p>LeftList</p>
                <select id="left" name="left" multiple>
                    @foreach(var l in ViewBag.Left)
                    {
                        <option value="@l">@l</option>
                    }
                </select>
            </div>
            <div class="col-md-1">
                <p><input type="button" id="btn1" name=">>" value=">>" onclick="MoveAll('toRight')"></p>
                <p><input type="button" id="btn2" name=">" value=">" onclick="Move('toRight')"></p>
                <p><input type="button" id="btn3" name="<" value="<" onclick="Move('toLeft')"></p>
                <p><input type="button" id="btn4" name="<<" value="<<" onclick="MoveAll('toLeft')"></p>
            </div>
            <div class="col-md-1">
                <p>RightList</p>
                <select id="right" name="right" multiple>
                    @foreach (var r in ViewBag.Right)
                    {
                        <option value="@r">@r</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>