@using SocNetwork.Resources;
@{
    ViewBag.Title = "Roles management";
}

<div class="container content header">
    <h2>@Captions.Roles @Captions.Management</h2>
</div>
<div class="container content">
    <a href="/roles" class="btn-block"><span class="glyphicon glyphicon-list"></span> @Captions.ListOfRoles</a>
</div>

