
@{
    ViewBag.Title = "Index";
}

<div class="container content header">
    <h2>Управление ролями</h2>
</div>
<div class="container content">
    <a href="/Role/GetAll" class="btn-block"><span class="glyphicon glyphicon-list"></span> Список ролей</a>
    <a href="/Role/Create" class="btn-block"><span class="glyphicon glyphicon-plus"></span> Создать роль</a>
</div>

