
@{
    ViewBag.Title = "Roles management";
}

<div class="container content header">
    <h2>Roles management</h2>
</div>
<div class="container content">
    <a href="/roles" class="btn-block"><span class="glyphicon glyphicon-list"></span> List of roles</a>
</div>

