
@{
    ViewBag.Title = "Roles";
}

<div class="container content header">
    <h2>GetAll</h2>
</div>
<div class="container content text-light">
    <div>
        <h3>List of roles</h3>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@((int)r)</td>
                    <td>@r.ToString()</td>
                </tr>
            }
        </table>
    </div>
</div>
