
@{
    ViewBag.Title = "Index";
}

<div class="container content header">
    <h2>Управление пользователями</h2>
</div>
<div class="container content">
    <a href="/users" class="btn-block"><span class="glyphicon glyphicon-user"></span> Список пользователей</a>
    <a href="/create-user" class="btn-block"><span class="glyphicon glyphicon-plus"></span> Создать пользователя</a>
</div>

