
@{
    ViewBag.Title = "User management";
}

<div class="container content header">
    <h2>User management</h2>
</div>
<div class="container content">
    <a href="/users" class="btn-block"><span class="glyphicon glyphicon-user"></span> List of users</a>
    <a href="/create-user" class="btn-block"><span class="glyphicon glyphicon-plus"></span> Create user</a>
</div>

