
@{
    ViewBag.Title = "Create";
}

<div class="container content header">
    <h2>Создание пользователя</h2>
</div>
<div class="container content">
    <form action="/User/Create" method="post">
        <div class="form-group">
            <input type="text" name="Firstname" class="form-control" placeholder="Firstname" />
        </div>
        <div class="form-group">
            <input type="text" name="Lastname" class="form-control" placeholder="Lastname" />
        </div>
        <div class="form-group">
            <input type="email" name="Email" class="form-control" placeholder="E-mail" />
        </div>
        <div class="form-group">
            <input type="password" name="Password" class="form-control" placeholder="Password" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
</div>

