
@{
    ViewBag.Title = "GetAll";
}

<div class="container content header">
</div>
<div class="container content text-light">
    <div>
        <h3>List of users</h3>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Firstname</td>
                <td>Lastname</td>
                <td>Email</td>
                <td>Actions</td>
            </tr>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Firstname</td>
                    <td>@u.Surname</td>
                    <td>@u.Email</td>
                    <td>
                        <a href="/user/@u.Id"><span class="glyphicon glyphicon-user"></span></a>
                        <a href="/user/@u.Id/edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="/user/@u.Id/delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
