body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-image: url(Images/bg.jpg);
    background-size: cover;
    /*background: #0CC;*/
    /*background: #75d4d4*/
}

.content {
    background-color: rgba(01, 31, 31, 0.5);
    padding: 15px;
}



.content.short {
   width: 500px;
}

.content-dark {
    background-color: rgba(01, 31, 31, 0.9);
    padding: 15px;
}

.header {
    background-color: rgba(01, 31, 31, 0.7);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .header.short {
        width: 500px;
    }

.fr {
    margin: 15px;
}

.lbl {
    color: #FFF;
}

    .lbl.dark {
        color: #000;
    }

.btn_lnk {
    width: 16px;
    height: 16px;
}

.list-footer {
    text-align: right;
}

.ni {
    color: #FFF;
}

.footer {
    background-color: rgba(01, 31, 31, 0.7);
}

.center {
    text-align: center;
}

.center form {
    display: inline-block;
}

.checkbox {
    text-align: left;
}

.text-light {
    color: #f8f9fa !important;
}

a.text-light:hover, a.text-light:focus {
    color: #dae0e5 !important;
}

.text-dark {
    color: #343a40 !important;
}

a.text-dark:hover, a.text-dark:focus {
    color: #1d2124 !important;
}

a{
    color:white;
}

.user_action {
    margin-right: 10px
}

.avatar{
    width:200px;
    height:200px;
}

.avatar-small{
    width:50px;
    height:50px;
}

.btn-link.white {
    color: white;
}