@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

<form action="@Url.Action("Calc", "Calculator")">
    <table>
        <tr>
            <td>x </td>
            <td><input type="text" name="arg1" /></td>
        </tr>
        <tr>
            <td>y </td>
            <td><input type="text" name="arg2" /></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Operation:</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><p><input name="operation" type="radio" value="+" checked> Sum</p></td>
        </tr>
        <tr>
            <td></td>
            <td><p><input name="operation" type="radio" value="*"> Prod</p></td>
        </tr>
    </table>
    <p><input type="submit" value="Calc" /></p>
</form>

<p style="color: red;">@ViewBag.Message</p>

<div style="background-color: #DCDCDC; color: green;"><!--стили в отдельные файлы-->
    @{
        foreach (var log in ViewBag.LogLines)
        {
            <p>@log.ToString()</p>
        }
}
</div>

