@using SocNetwork.Resources;
<div>
    <span><a href="/friends">@Captions.MyFriends</a></span>
    <br /><span><a href="/friends/incoming">@Captions.IncomingRequest</a></span>
    <br /><span><a href="/friends/outgoing">@Captions.OutgoingRequest</a></span>
</div>
